main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

}

main{
    width: 100%;
    height: 100%;
    display: flex;

}

a {

    margin: 0 auto;
    align-self: center;
    max-height: 200px;
    min-width: 100px;
    padding: 20px 40px;
    background-color:#a9a9a9;
    text-decoration: none;
    color: black;
    font-size: 45px;

    border-radius:  15px;
    transition: all 0.2s;
}

.a1 {

   background-color: rgb(152,150,240);
}
.a1:hover{
    background-color: rgb(184 195 226);
}


